.body {
    color: aquamarine;
}

h1 {
    color: green;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .75rem;
    height: 10rem;
}

#green {
    background-color: darkgreen;
}

#red {
    background-color: darkred;
}

#yellow {
    background-color: goldenrod;
}

#blue {
    background-color: darkblue;
}